.import-export-div .setting-item {
    border-top: none;
}

.patterns .pattern,
.patterns .add-pattern-button-el,
.commands .command,
.commands .add-command-button-el {
    border-top: 1px dotted var(--background-modifier-border);
    /* padding: 18px 0 0 0; */
}

/* .add-pattern-button-el .setting-item-info {
    display: none;
} */

.add-pattern-button-el .setting-item-control {
    flex: unset;
}

/* .patterns .pattern .pattern-name .setting-item-info {
    display: none;
} */

/* .patterns .pattern .pattern-name input {
    width: 100%;
} */

/* .commands .command input:first-of-type {
    margin-right: 18px;
} */

/* .rule > div:not(:first-of-type) {
    border-left: 1px solid var(--background-modifier-success);
    padding-left: 0.5em;
    margin-left: 0.5em;
} */

.pattern:not(:nth-last-child(2)),
.command:not(:nth-last-child(2)) {
    border-bottom: 2px solid var(--interactive-accent);
}

.pattern:first-child,
.command:first-child {
    border-top: 2px solid var(--interactive-accent);
}

.rule .setting-item:first-child .setting-item-name,
.command .setting-item:first-child .setting-item-name {
    border-bottom: 1px solid var(--background-modifier-success);
    padding-bottom: 0.5em;
}

/* .pattern-rules,
.commands {
    padding-left: 0.5em;
} */

/* .rule > div:not(:first-child),
.command > div:not(:first-child) {
    padding-left: 0.5em;
} */

.patterns .rule.disabled,
.patterns .pattern .is-disabled,
.patterns .rule .is-disabled,
.commands .command .is-disabled {
    opacity: 50%;
}
/* 
.patterns .rule .setting-item-info .setting-item-description,
.commands .command .setting-item-info .setting-item-description {
    text-align: center;
} */

.patterns .rule .checkbox-container::after,
.commands .command .checkbox-container::after {
    /* Get content aligned vertically and horizontally: */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
}

/* .checkbox-container {
    width: 2.5em;
} */

/* .pattern-rules button[aria-label="disable"],
.pattern-rules div.setting-item-description {
    max-width: 4em;
} */

/* .setting-item-control button {
    max-width: 3em;
} */

/* textarea {
    min-width: 10em;
} */

/* .pattern-rules button,
.commands button {
    padding: 1em;
} */


.commands .command .checkbox-container:nth-of-type(1)::after {
    content: "S";
}
.commands .command .checkbox-container:nth-of-type(2)::after {
    content: "L";
}
.commands .command .checkbox-container:nth-of-type(3)::after {
    content: "D";
}

.patterns .rule,
.commands .command {
    /* width: 100%; */
    /* overflow-y: hidden; */
    /* overflow-x: scroll; */
    margin-bottom: 1em;
}

/* .patterns .rule * {
    display: block;
    float: left;
    clear: both;
} */

.patterns .rule .checkbox-container:nth-of-type(1)::after {
    content: "i";
}
.patterns .rule .checkbox-container:nth-of-type(2)::after {
    content: "g";
}
.patterns .rule .checkbox-container:nth-of-type(3)::after {
    content: "m";
}
.patterns .rule .checkbox-container:nth-of-type(4)::after {
    content: "s";
}

/* .patterns .rule .setting-item-control input[type="text"]:first-of-type {
    margin-right: 15px;
}

.patterns .rule .setting-item-control input[type="text"]:last-of-type {
    margin-left: 15px;
} */

.bold {
    font-weight: bold;
}

.pattern.collapsed [aria-label="Expand"] {
    color: var(--interactive-accent);
}

.pattern.collapsed .pattern-rules {
    display: none;
}

.clear-settings-button.primed button {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent) !important;
}

.commands .bold {
    color: var(--text-error);
    font-size: 1.15em;
}
