.import-export-div .setting-item {
    border-top: none;
}

.patterns .pattern,
.patterns .add-pattern-button-el {
    border-top: 1px dotted var(--background-modifier-border);
    padding: 18px 0 0 0;
}

.patterns .pattern .pattern-name .setting-item-info {
    display: none;
}

.patterns .pattern .pattern-name input {
    width: 100%;
}

.patterns .rule.disabled,
.patterns .pattern .is-disabled,
.patterns .rule .is-disabled {
    opacity: 50%;
}

.patterns .rule .setting-item-info .setting-item-description {
    text-align: center;
}

.patterns .rule .checkbox-container::after {
    /* Get content aligned vertically and horizontally: */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
}

.patterns .rule .checkbox-container:nth-of-type(1)::after {
    content: "i";
}

.patterns .rule .checkbox-container:nth-of-type(2)::after {
    content: "g";
}

.patterns .rule .checkbox-container:nth-of-type(3)::after {
    content: "m";
}

.patterns .rule .checkbox-container:nth-of-type(4)::after {
    content: "s";
}

.patterns .rule .setting-item-control input[type="text"]:first-of-type {
    margin-right: 15px;
}

.patterns .rule .setting-item-control input[type="text"]:last-of-type {
    margin-left: 15px;
}

.patterns-description-el .bold {
    font-weight: bold;
}
